<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Ambition.mapper.UserMapper">

    <select id="GetAllUser" resultMap="UserRoleMap">
        select * from supermarket.user
    </select>

    <!--定义User的resultMap-->
    <resultMap id="UserRoleMap" type="com.Ambition.pojo.User">
        <id property="id" column="id"/>
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="roleId" column="roleId"/>
        <result property="headPic" column="headPic"/>
        <result property="state" column="state"/>
        <result property="tel" column="tel"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <!--配置角色的映射-->
        <collection property="role" column="roleId" ofType="com.Ambition.pojo.Role" select="getRolesList"/>
    </resultMap>

    <select id="getRolesList" resultType="com.Ambition.pojo.Role">
        select * from supermarket.role where id = #{roleId}
    </select>


    <select id="GetUserBy" resultType="com.Ambition.pojo.User">
        select * from supermarket.user
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="userCode != null">
                and userCode = #{userCode}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
        </where>
    </select>

    <delete id="deleteUser" >
        delete from supermarket.user where id = #{id}
    </delete>

    <insert id="addUser" parameterType="com.Ambition.pojo.User">
        insert into supermarket.user(usercode,username,password,roleId,email,salary,address) values (#{userCode},#{userName},#{password},#{roleId},#{email},#{salary},#{address})
    </insert>

    <update id="updateUser" parameterType="com.Ambition.pojo.User">
        UPDATE supermarket.user
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null"> username=#{userName},</if>
            <if test="password!=null"> password=#{password},</if>
            <if test="userCode!=null"> usercode=#{userCode},</if>
            <if test="salary!=null"> salary=#{salary},</if>
            <if test="email!=null"> email=#{email},</if>
            <if test="address!=null"> address=#{address},</if>
            <if test="roleId!=null"> roleId=#{roleId},</if>
        </trim>
        WHERE id=#{id};
    </update>

    <select id="GetUserLike" resultType="com.Ambition.pojo.User">
        select * from supermarket.user
        inner join supermarket.role
        on user.roleId = role.id
        <where>
            <if test="userName != null">
                userName like #{userName}
            </if>
            <if test="roleId != null">
                roleId = #{roleId}
            </if>
        </where>
    </select>

    <select id="CountUser" resultType="Integer">
        select COUNT(*) from supermarket.user
    </select>

</mapper>